.v {
	&-poster {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		cursor: pointer;
		visibility: hidden;
		opacity: 0;
		z-index: 3;

		&.v-active {
			opacity: 1;
			visibility: visible;
		}
	}
}
