@keyframes loader {
	0%,
	80%,
	100% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}
}

.v {
	&-loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - var(--vlite-controlBarHeight));
		opacity: 0;
		visibility: hidden;
		z-index: 5;
		display: flex;
		align-items: center;
		transition:
			opacity var(--vlite-transition),
			visibility var(--vlite-transition);
	}

	&-loaderContent {
		margin: 0 auto;
		width: 70px;
		text-align: center;
		position: relative;
		top: calc(var(--vlite-controlBarHeight) / 2);

		& > div {
			width: 18px;
			height: 18px;
			background-color: var(--vlite-controlsColor);
			border-radius: 100%;
			display: inline-block;
			animation: loader 1.4s infinite ease-in-out both;
		}

		.v-loaderBounce1 {
			animation-delay: -0.32s;
		}

		.v-loaderBounce2 {
			animation-delay: -0.16s;
		}
	}
}

.v-loading {
	.v-loader {
		opacity: 1;
		visibility: visible;
	}
}
