.v-bigPlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 65px;
	height: 65px;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
	z-index: 2;
	transition: opacity 200ms ease-in;
	transition-delay: 100ms;

	&,
	* {
		pointer-events: none;
	}

	.v-iconBigPlay {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	svg {
		fill: var(--colorControl);
		transition: opacity var(--delayTransitionControlsHover);
		opacity: var(--defaultControlsOpacity);
		width: 60px;
		height: 60px;
	}
}

.v-loading {
	.v-bigPlay {
		opacity: 0;
	}
}
