html,
body {
    margin: 0;
    font-family: Roboto, arial, sans-serif;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 70px;
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.content {
    width: calc(50% - 20px);
    text-align: center;
    padding-top: 30px;
}
