/* Override default theme */

/* Header */
.md-header {
    height: 60px;
    padding-top: 6px;
}

.md-header[data-md-state=shadow] {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 0.01rem 0.3rem rgba(0, 0, 0, 0.2);
}

.md-header-nav__button.md-logo {
    margin-top: -1px;
}

.md-header-nav__button.md-logo img {
    width: 35px;
    height: 35px;
}

/* Logo homepage */
.md-content .logo-vlite {
    text-align: center;
    margin-top: -20px;
}

.logo-vlite img {
    width: 180px;
}

/* Links color */
.md-nav__link--active,
.md-nav__link:active,
.md-nav__link:focus,
.md-nav__link:hover,
.md-typeset a,
.md-typeset a:active,
.md-typeset a:hover,
.md-typeset .footnote li:hover .footnote-backref:hover,
.md-typeset .footnote li:target .footnote-backref,
.md-typeset .md-clipboard:active:before,
.md-typeset .md-clipboard:hover:before,
.md-typeset [id] .headerlink:focus,
.md-typeset [id]:hover .headerlink:hover,
.md-typeset [id]:target .headerlink {
    color: #ff7f15;
}

/* Research */
.md-search-result__link:hover,
.md-search-result__link[data-md-state=active] {
    background-color: rgba(255, 171, 0, .1);
}

/* Video screenshot */
.md-content .video-center {
    max-width: 500px;
    margin: 0 auto;
}

/* Gitter button */
.gitter-open-chat-button {
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    border-radius: 50px;
    padding: 0;
    bottom: 20px;
    right: 20px;
    background-image: url('../imagesgitter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    opacity: 0.8;
}

.gitter-open-chat-button:hover {
    background-color: #36bc98;
    opacity: 1;
}

.gitter-open-chat-button.is-collapsed {
    transform: translateY(calc(150% + 20px));
}
