.v {
	&-playerIcon {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		svg {
			transition: opacity var(--transition300msEase);
			fill: var(--colorControl);
			opacity: var(--defaultControlsOpacity);
			width: var(--controlIconWidth);
			height: var(--controlIconHeight);
		}
	}

	&-playPauseButton {
		position: relative;
		float: left;
		width: 40px;
		height: 100%;
		flex-shrink: 0;

		&:hover svg {
			opacity: 1;
		}
	}

	&-time {
		color: var(--colorControl);
		font-size: 12px;
		float: left;
		height: 100%;
		display: flex;
		align-items: center;
		margin-right: auto;
	}

	&-progressBar {
		-webkit-appearance: none;
		border-radius: 3px;
		margin: 0;
		height: var(--heightProgressBar);
		transition: height var(--transition300msEase), top var(--transition300msEase);
		z-index: 1;
		cursor: pointer;
		width: calc(100% - 2 * var(--offsetLeftRightControlBar));

		&:focus {
			outline: none;
		}

		&::-webkit-slider-runnable-track {
			height: 100%;
			border: none;
			border-radius: 0;
			background: linear-gradient(
				to right,
				var(--orange) var(--value, 0),
				var(--backgroundProgressBar) var(--value, 0)
			);
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: none;
			background: var(--orange);
			margin-top: -3px;
		}

		&::-ms-track {
			width: 100%;
			cursor: pointer;
			background: transparent;
			border-color: transparent;
			color: transparent;
		}
	}

	&-volumeButton {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 100%;

		&:not(.v-muted) {
			.v-iconVolumeHigh {
				display: block;
			}
		}

		&.v-muted {
			.v-iconVolumeMute {
				display: block;
			}
		}

		&:hover svg {
			opacity: 1;
		}
	}

	&-fullscreenButton {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 100%;

		&:not(.v-exit) {
			.v-iconFullscreen {
				display: block;
			}
		}

		&.v-exit {
			.v-iconShrink {
				display: block;
			}
		}

		&:hover svg {
			opacity: 1;
		}
	}

	&-controlBar {
		position: relative;
		width: 100%;
		height: var(--heightControlBar);
		padding-top: var(--heightProgressBar);
		text-align: right;
		padding-left: var(--offsetLeftRightControlBar);
		padding-right: var(--offsetLeftRightControlBar);
		transition: opacity var(--transition300msEase);
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&:hover {
			opacity: 1 !important;
		}

		&.hidden {
			opacity: 0;
		}

		&.v-styleAudio {
			padding-top: 0;

			.v-playPauseButton {
				order: 1;
			}

			.v-time {
				order: 2;
			}

			.v-progressBar {
				order: 3;
				padding: 0 10px;
			}

			.v-volumeButton {
				order: 4;
			}
		}

		&.v-styleVideo {
			position: absolute;
			bottom: 0;
			left: 0;
			background: var(--backgroundControlBar);

			.v-progressBar {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
