.vl-wrapper-vlite{

    .vl-big-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 65px;
        height: 65px;
        transform: translateX(-50%) translateY(-50%);
        cursor: pointer;
        z-index: 2;
        transition: opacity 200ms ease-in;
        transition-delay: 100ms;

        .vl-icon-big-play {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        svg {
            fill: var(--colorControl);
            width: 60px;
            height: 60px;
        }
    }

    .vl-progress-bar{
        position: absolute;
        top: 0;
        left: var(--offsetLeftRightControlBar);
        right: var(--offsetLeftRightControlBar);
        height: var(--heightProgressBar);
        background-color: rgba(0, 0, 0, 0.2);
        transition: height 100ms ease-out;
        z-index: 1;

        .vl-progress-input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            cursor: pointer;
            opacity: 0;
        }

        .vl-progress-seek{
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: var(--colorControl);
            border-radius: 0px 4px 4px 0px;
            transition: all 100ms ease-out;
        }
    }

    .vl-control-bar{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--heightControlBar);
        padding-top: var(--heightProgressBar);
        text-align: right;
        padding-left: var(--offsetLeftRightControlBar);
        padding-right: var(--offsetLeftRightControlBar);
        background-color: var(--backgroundControlBar);
        transition: 250ms ease-in;

        &:hover{
            .vl-progress-bar{
                height: var(--heightProgressBarHover);
            }
            opacity: 1 !important;
        }

        &.hidden{
            opacity: 0;
        }

        .vl-control-bar-inner{
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .vl-play-pause-button{
        position: relative;
        float: left;
        width: 40px;
        height: 100%;
        cursor: pointer;

        .vl-player-icon {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        svg {
            fill: var(--colorControl);
            width: 18px;
            height: 18px;
        }
    }

    .vl-time{
        color: var(--colorControl);
        font-size: 13px;
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .vl-volume{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 100%;
        cursor: pointer;

        .vl-player-icon{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &:not(.vl-muted){
            .vl-icon-volume-high{
                display: block;
            }
        }

        &.vl-muted{
            .vl-icon-volume-mute{
                display: block;
            }
        }

        svg {
            fill: var(--colorControl);
            width: 18px;
            height: 18px;
        }
    }

    .vl-fullscreen{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 100%;
        cursor: pointer;

        .vl-player-icon{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &:not(.vl-exit){
            .vl-icon-fullscreen{
                display: block;
            }
        }

        &.vl-exit{
            .vl-icon-shrink{
                display: block;
            }
        }

        svg {
            fill: var(--colorControl);
            width: 18px;
            height: 18px;
        }
    }
}
