@charset 'UTF-8';
@import 'reset';

html,
body {
    margin: 0;
    font-family: Roboto, arial, sans-serif;
}


.sticky-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 10;
    .wrapper-nav {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 50px;
        font-size: 0;
        z-index: 10;
        background-color: #ffb300;
        border-radius: 25px 25px;
        max-width: 230px;
        width: 100%;
        ul {
            padding: 0;
            height: 100%;
        }
        li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 100%;
            &:first-child:after {
                content: '';
                display: block;
                width: 1px;
                height: 15px;
                background-color: #fff;
                opacity: 1!important;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%)
            }
        }
        a {
            display: block;
            font-size: 13px;
            line-height: 13px;
            text-decoration: none;
            color: #fff;
            height: 100%;
            padding: 18px 20px 0 20px;
            &:hover {
                opacity: .7
            }
        }
    }
}

#app {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 70px;
    .title {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
    }
    a {
        font-family: Roboto, arial, sans-serif;
        color: #000;
        text-decoration: none;
        display: block;
    }

    .page {
        flex-direction: row;
        display: flex;
        align-content: center;
    }

    .content {
        width: 50%;
        text-align: center;
        padding-top: 30px;
        &:nth-child(odd) {
            padding-right: 15px;
        }
        &:nth-child(even) {
            padding-left: 15px;
        }
        .vl-wrapper-vlite{
            margin-top: 15px;
        }
        .sub-title {
            font-weight: 700;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    #app{
        .title{
            padding-top: 30px;
        }
        .page {
            flex-direction: column;
        }
        .content {
            width: 100%;
            &:nth-child(odd),
            &:nth-child(even){
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}