@keyframes loader {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


.vl-wrapper-vlite{
    .vl-wrapper-loader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
        display: flex;
        align-items: center;
        transition: opacity 200ms ease-in, visibility 200ms ease-in;
        .vl-loader {
            margin: 0 auto;
            width: 70px;
            text-align: center;
            & > div {
                width: 18px;
                height: 18px;
                background-color: var(--colorControl);
                border-radius: 100%;
                display: inline-block;
                animation: loader 1.4s infinite ease-in-out both;
            }
            .vl-loader-bounce-1 {
                animation-delay: -0.32s;
            }
            .vl-loader-bounce-2 {
                animation-delay: -0.16s;
            }
        }
    }

    &.vl-loading {
        .vl-wrapper-loader{
            opacity: 1;
            visibility: visible;
        }

        .vl-big-play-button{
            opacity: 0;
        }
    }
}
