<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>vLitejs - Demo</title>
		<meta name="description" content="vLitejs is a fast and lightweight Javascript library to customize and skin video and audio player with a minimalist theme (HTML5, Youtube, Vimeo)" />
	</head>
	<body>
		<main id="app" role="main">
			<header class="header">
				<h1 class="header-title">
					<a href="https://yoriiis.github.io/vlitejs/" title="vLitejs">
						<span class="sr-only">vLitejs</span>
						<img inline src="../../assets/svgs/logo.svg" />
					</a>
				</h1>
				<p class="header-text">vLitejs is a fast and lightweight JavaScript library to customize and skin a video and audio player.</p>
			</header>

			<div class="content"></div>

			<nav class="nav">
				<ul class="nav-list">
					<li class="nav-listItem">
						<button class="nav-listItemButton active" data-provider="html5" data-type="video">
							<span class="sr-only">HTML5 Video</span>
							<img inline src="../../assets/svgs/html5.svg" />
							<span class="nav-listItemName">Video</span>
						</button>
					</li>
					<li class="nav-listItem">
						<button class="nav-listItemButton" data-provider="html5" data-type="audio">
							<span class="sr-only">HTML5 Audio</span>
							<img inline src="../../assets/svgs/html5.svg" />
							<span class="nav-listItemName">Audio</span>
						</button>
					</li>
					<li class="nav-listItem">
						<button class="nav-listItemButton" data-provider="youtube" data-type="video">
							<span class="sr-only">YouTube</span>
							<img inline src="../../assets/svgs/youtube.svg" />
							<span class="nav-listItemName">Youtube</span>
						</button>
					</li>
					<li class="nav-listItem">
						<button class="nav-listItemButton" data-provider="vimeo" data-type="video">
							<span class="sr-only">Vimeo</span>
							<img inline src="../../assets/svgs/vimeo.svg" />
							<span class="nav-listItemName">Vimeo</span>
						</button>
					</li>
				</ul>
			</nav>
		</main>
	</body>
</html>
