.v-vlite {
	&,
	* {
		box-sizing: border-box;
	}

	button {
		* {
			pointer-events: none;
		}
	}

	button,
	input[type='range'] {
		-webkit-appearance: none;
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;

		&:focus-visible {
			outline: 4px dashed var(--outlineColor);
		}
	}

	button:focus-visible {
		outline-offset: -4px;
	}

	input[type='range']:focus-visible {
		outline-offset: 2px;
	}
}
