:root {
	--heightControlBar: 50px;
	--heightProgressBar: 5px;
	--offsetLeftRightControlBar: 10px;
	--backgroundControlBar: linear-gradient(0deg, rgba(0 0 0 / 100%) 0%, rgba(255 255 255 / 0%) 100%);
	--colorControl: #fff;
	--defaultControlsOpacity: 0.9;
	--controlIconWidth: 28px;
	--controlIconHeight: 28px;
	--transition250msEase: 0.25s ease;
	--orange: #ff7f15;
	--backgroundProgressBar: rgba(0 0 0 / 25%);
	--outlineColor: #51a7e8;
}
