:root {
	--vlite-controlBarHeight: 50px;
	--vlite-progressBarHeight: 5px;
	--vlite-controlBarHorizontalPadding: 10px;
	--vlite-controlBarBackground: linear-gradient(
		0deg,
		rgba(0 0 0 / 100%) 0%,
		rgba(255 255 255 / 0%) 100%
	);
	--vlite-controlsColor: #fff;
	--vlite-controlsOpacity: 0.9;
	--vlite-controlsIconWidth: 28px;
	--vlite-controlsIconHeight: 28px;
	--vlite-transition: 0.25s ease;
	--vlite-colorMain: #ff7f15;
	--vlite-progressBarBackground: rgba(0 0 0 / 25%);
	--vlite-outlineColor: #51a7e8;
}
