:root {
	--heightControlBar: 50px;
	--heightProgressBar: 5px;
	--heightProgressBarHover: 5px;
	--offsetLeftRightControlBar: 10px;
	--backgroundControlBar: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
	--colorControl: #fff;
	--colorGradient: linear-gradient(135deg, #ff0053, #ee5b35);
	--defaultControlsOpacity: 0.85;
	--controlIconWidth: 26px;
	--controlIconHeight: 26px;
	--transition300msEase: 0.3s ease;
	--orange: #ff7f15;
	--backgroundProgressBar: transparent;
	--outlineColor: #51a7e8;
}
