name: Build

on:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, windows-latest]
    uses: yoriiis/actions/.github/workflows/test-and-build-root-demo.yml@main
    with:
      node-version: ${{ matrix.node-version }}
      os: ${{ matrix.os }}
      working-directory-demo: ./examples
