name: Publish Node.js Package

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  lint:
    uses: vlitejs/vlite/.github/workflows/lint.yml@main

  npm:
    needs: lint
    uses: yoriiis/actions/.github/workflows/npm-publish.yml@main
    with:
      node-version: 20
