name: Publish Node.js Package

on:
  release:
    types: [published]

jobs:
  lint:
    uses: vlitejs/vlite/.github/workflows/lint.yml@main

  npm:
    needs: lint
    uses: yoriiis/actions/.github/workflows/npm-publish.yml@main
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    with:
      node-version: 20
