.vlite-js {
	width: 100%;
	height: 100%;

	& > iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.v-vlite {
	font-family: -apple-system, blinkmacsystemfont, segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	overflow: hidden;
	position: relative;

	&.v-styleAudio {
		--colorControl: black;

		box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
		border-radius: 8px;
	}

	&.v-styleVideo {
		background-color: #000;
		height: 0;
		padding-top: 56.25%;
	}

	&::-webkit-full-screen {
		width: 100%;
		height: 100%;
	}

	::-moz-full-screen & {
		width: 100%;
		height: 100%;
	}

	&::-moz-full-screen {
		width: 100%;
		height: 100%;
	}

	video::-webkit-media-controls {
		display: none !important;
	}

	iframe.vlite-js {
		pointer-events: none;
	}

	&.v-fullscreenButton-display {
		.v-controlBar,
		.v-bigPlay {
			position: fixed;
			z-index: 2147483647;
		}
	}

	.vlite-js {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.v-paused {
		.v-playPauseButton {
			.v-iconPlay {
				display: block;
			}
		}

		.v-controlBar.hidden {
			opacity: 1;
		}
	}

	&.v-playing,
	&.v-paused:not(.v-firstStart) {
		.v-poster {
			visibility: hidden;
			opacity: 0;
		}
	}

	&.v-playing {
		.v-bigPlay {
			visibility: hidden;
			opacity: 0;
		}

		.v-playPauseButton {
			.v-iconPause {
				display: block;
			}
		}
	}
}
