@import "./vars";

.vlite-js {
    width: 100%;
    height: 100%;
}

.vl-wrapper-vlite {
    font-family: 'Roboto', arial, sans-serif;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    background-color: #000;
    overflow: hidden;

    &::-webkit-full-screen {
        width: 100%;
        height: 100%;
    }

    /* Firefox fullscreen config */
    ::-moz-full-screen & {
        width: 100%;
        height: 100%;
    }

    &::-moz-full-screen {
        width: 100%;
        height: 100%;
    }

    &:not(.vl-force-controls) {
        /* Chrome fullscreen config */
        video::-webkit-media-controls-enclosure {
            display: none !important;
        }

        iframe.vlite-js {
            pointer-events: none;
        }
    }

    &.vl-fullscreen-display {
        .vl-control-bar,
        .vl-big-play-button {
            position: fixed;
            z-index: 2147483647;
        }
    }

    .vlite-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Skin */
    &.vl-paused {
        .vl-play-pause-button {
            .vl-icon-play {
                display: block;
            }
        }

        .vl-control-bar.hidden {
            opacity: 1;
        }
    }

    .vl-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        z-index: 2;

        &.vl-active {
            opacity: 1;
            visibility: visible;
        }
    }

    &.vl-playing,
    &.vl-paused:not(.vl-first-start) {
        .vl-poster {
            visibility: hidden;
            opacity: 0;
        }
    }

    &.vl-playing {
        .vl-big-play-button {
            visibility: hidden;
            opacity: 0;
        }

        .vl-play-pause-button {
            .vl-icon-pause {
                display: block;
            }
        }
    }

    .vl-overlay-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - var(--heightControlBar));

        .vl-overlay-left,
        .vl-overlay-right {
            position: absolute;
            top: 0;
            width: 30%;
            height: 100%;
        }

        .vl-overlay-left {
            left: 0;
        }

        .vl-overlay-right {
            right: 0;
        }
    }
}
