:root {
    --heightHeaderTopbar: 60px;
    --heightControlBar: 50px;
    --heightProgressBar: 3px;
    --heightProgressBarHover: 5px;
    --offsetLeftRightControlBar: 0;
    --backgroundControlBar: rgba(0, 0, 0, 0.3);
    --colorControl: #fff;
    --colorRed: #ff0053;
    --colorGradient: linear-gradient(135deg, #ff0053, #ee5b35);
    --defaultControlsOpacity: 0.8;
    --delayTransitionControlsHover: 100ms;
}
